@import "tailwindcss";

.cascadia {
  font-family: "Cascadia Code", sans-serif;
}

.jetbrains {
  font-family: "JetBrains Mono", monospace;
}

body {

  /* background-color: #282A36; */
}

.my-container {
  width: 95%;
  margin: 0 auto;
}