@import "tailwindcss";

.mona-sans {
  font-family: "Mona Sans", sans-serif;
}

.cascadia {
  font-family: "Cascadia Code", sans-serif;
}

.jetbrains {
  font-family: "JetBrains Mono", monospace;
}


.my-container {
  width: 95%;
  margin: 0 auto;
}