@import "tailwindcss";

* {
  font-family: "Cascadia Code", sans-serif;
}

body {
  /* background: #303030;
  background: linear-gradient(180deg,rgba(48, 48, 48, 1) 0%, rgba(13, 13, 13, 1) 100%); */
  background-color: #282A36;
}

.my-container {
  width: 95%;
  margin: 0 auto;
}